@font-face{
   font-family: bold-font;
   src: url(../assets/fonts/Proxima\ Nova\ Alt\ Bold.otf);
}
@font-face{
   font-family: regular-font;
   src: url(../assets/fonts/ProximaNova-Regular.otf
}
@font-face{
   font-family: ligth-font;
   src: url(../assets/fonts/Proxima\ Nova\ Alt\ Light.otf);
}