@font-face{
   font-family: bold-font;
   src: url(../assets/fonts/Bold.otf);
}

@font-face{
   font-family: regular-font;
   src: url(../assets/fonts/Regular.otf);
}

@font-face{
   font-family: ligth-font;
   src: url(../assets/fonts/Light.otf);
}